@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#nav{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    padding-right: 0;
    color: rgb(27, 94, 210);
    background-color: rgb(255, 255, 255);
    border-bottom: 2.5px solid rgb(27, 94, 210);
}
#nav div{
    margin-right: 20px;
    margin-left: auto;
    width: 150px;
    display: flex;
    gap: 25px;
}
#nav div a{
    text-decoration: none;
    color: rgb(61, 60, 59);
}
#nav-title{
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 1.6rem;
}

#main{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    padding-top: 35px;
}

#logo{
    height: 100px;
    width: auto;
    border-radius: 50%;
}
#main-title{
    letter-spacing: 1px;
    font-family: 'Ubuntu';
    color: rgb(27, 94, 210);
    font-size: 2rem;
    overflow-x: hidden;
    animation: typingEffect 3s 0.1s infinite ease, blinkingEffect 0.5s infinite ease;
}

@keyframes typingEffect{
    0%{
        width: 0;
    }
    75%{
        width: 175px;
    }
    100%{
        width: 0;
    }
}
@keyframes blinkingEffect{
    0%{
        border-right: 3px solid #00000000;
    }
    100%{
        border-right: 3px solid rgb(27, 94, 210);
    }
}

#main p{
    width: 50%;
    text-align: center;
    line-height: 25px;
    color: rgb(44, 100, 197);
}

#link-to-app{
    all: unset;
    padding: 10px;
    background-color: rgb(11, 77, 242);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

#footer{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 68, 255);
    color: #fff;
}